body {
  margin: 0;
}

#blockly-editor>div {
  display: flex;
  flex-direction: row;
}

#metadata-editor>div form {
  border: 1px solid gray;
  margin: 0.5em;
  padding: 0.4em
}

#metadata-editor>div form input {
  display: block;
  margin-bottom: 0.3em;
}

.textarea {
  flex-grow: 1;
}

.textarea fieldset {
  display: flex;
}

.textarea fieldset textarea {
  flex-grow: 1;
}


#metadata-editor>div {
  display: flex;
  flex-direction: row;
}
